@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;1,500;1,600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  color: #393c41;
  box-sizing: border-box;
}
.section {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.section-header {
  padding-top: 15vh;
  text-align: center;
}
.section-header p {
  padding-top: 10px;
}
